.app_pink_theme {
  --bg-color: #fbf4f9;
  --inverted-bg-color: #a44b88;
  --primary-color: #a44b88;
  --secondary-color: #753f88;
  --inverted-primary-color: #fbf4f9;
  --inverted-secondary-color: #fbf4f9;
}
